body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #70e1f5 10%, #ffd194 100%);
    background-attachment:fixed ;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.icon {
    font-size: 50px;
    color: #00aaff;
    display: block;
  }

.grid {
    display: flex;
    gap: 20px;
    justify-content: space-around; /* Centering the cards */
}

.card {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: transform 0.2s; /* Smooth transition */
}

.card:hover {
    transform: translateY(-5px); /* Lift effect on hover */
}

.value {
    font-size: 24px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

.pagination {
    margin: 20px 0;
    text-align: center;
}

.pagination button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}